.jumbo-bg {
    background-color: #262721;
    color: grey;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 0 !important;
}

.jumbo-bg>img {
    width: 275px;
}

/* home (form + ideo)*/
.home{
  display: flex;
}

/* form */

.sidebar {
	width: 300px;
	background-color: darkgray;
	padding: 10px;

}

.sidebar textarea{
	font-size: x-small;
	font-family: 'Courier New', Courier, monospace;

}

.form-range {
	width: 100%;
    padding: 0;
    background-color: transparent;

}

.gradient label{
	font-size: small;
	margin-bottom: 0px;
  margin-left: 10px;
}

.gradient-selector {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-item {
  display: flex !important;
}

.gradient-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.gradient-option {
  display: flex;
  align-items: center;
  padding: 5px;
}

.gradient-label {
  display: flex;
  align-items: center;
}

.gradient-color {
  width: 150px;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown-menu {
  max-height: 250px; 
  overflow-y: auto; 
}





